@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    font-family: 'Nunito Sans';
    color: var(--fg);
    font-weight: 500;
    font-size: 1.1rem;
    user-select: none;
}

:root{
    --bg: #fafbff;
    --bgd: #ffffff;
    --border: #dedee6;
    --border2: #a9a9ad;
    --ac: #1c84e6;
    --fg: #001120;
    --msg: #eaffc6;
    --msg-border: #a4d451;
}

body, html{
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.form{
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--border);
    background-color: var(--bgd);
    padding: 2rem;
    width: 30%;
    height: fit-content;
    box-sizing: border-box;
    border-radius: .5rem;
}

.form form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form .update-msg{
    padding: 1rem;
    box-sizing: border-box;
    border-radius: .5rem;
    background-color: var(--msg);
    border: 2px solid var(--msg-border);
    width: 100%;
    aspect-ratio: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .update-msg .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form .update-msg .done-amount{
    font-size: 2rem;
    font-weight: 700;
}

button{
    padding: 1rem;
    box-sizing: border-box;
    border-radius: .5rem;
    background-color: var(--ac);
    width: 100%;
    aspect-ratio: 10;
    color: var(--bg);
    font-weight: 600;
    font-size: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
}

input[type="file"]{
    display: none;
}

.controls{
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: var(--bg);
    border: 2px solid var(--border);
    border-radius: .5rem;
}

.controls .upload-lbl, .controls .download-lbl{
    box-sizing: border-box;
    padding: 1rem;
    flex: 1;
    aspect-ratio: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    gap: .5rem;
    color: var(--border2);
    cursor: pointer;
}

.controls span{
    font-size: 3rem;
    color: inherit;
}

.controls .label-text{
    color: inherit;
    font-weight: 600;
    font-size: 1.3rem;
}

.download-lbl.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.download-lbl:not(.disabled) {
    pointer-events: auto;
    opacity: 1;
    cursor: pointer;
}

@media screen and (width < 1700px){
    .form{
        width: 50%;
    }
}

@media screen and (width < 1200px){
    .form{
        width: 80%;
    }
}

@media screen and (width < 800px){
    .controls{
        flex-direction: column;
    }

    .download-lbl{
        border-left: none !important;
        border-top: 2px solid var(--border);
    }
}